body {
  text-align: center;
  padding: 10px;
  border: 15px solid red;
  background:linear-gradient(to top, white 5%, gray 100%);
}

button {
	background:linear-gradient(to bottom, #00ff26 5%, #40b800 100%);
	background-color:#00ff26;
	border-radius:17px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:11px 31px;
	text-decoration:none;
	text-shadow:2px 2px 2px #000000;
  margin: 8px;
}

button:hover {
	background:linear-gradient(to bottom, #ff0000 5%, #700000 100%);
	background-color:#ff0000;
	border-radius:17px;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:11px 31px;
	text-decoration:none;
	text-shadow:2px 2px 2px #000000;
  margin: 8px;
}

ul {
  list-style-type: none;
}

p {
  font-size: 32px;
}

label {

}

input {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 32px;
}
textarea {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 32px;
}
li {
  font-size: 32px;
}

#title {
  color: white;
  text-shadow:2px 2px 2px #000000;
	background:linear-gradient(to bottom, #00ff26 5%, #40b800 100%);
  background-color: lime;
  font-size: 64px;
  border: 2px solid black;
  border-radius:17px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
